<form method="post">
  <div class="form-group">
  <h3>Question</h3>
  <textarea  required cols="30" rows="5" name="textarea" placeholder="Multi-line Textarea" wrap="hard" ></textarea>
  <br/>
  <h3>Answer</h3>
  <textarea required cols="30" rows="5" name="textarea" placeholder="Multi-line Textarea" wrap="hard" ></textarea>
  <br/>
  <br/>
  <button class="btn btn-primary" [disabled]=!f.valid>Submit</button>
</div>
</form>