/* You can add global styles to this file, and also import other style files */
h1{
    color: #1c1f1c;
     }

  body{
      margin: 2em;
  }
  textarea{
       resize:both;
  }
  button{
      background-color: blue;
      font-family: Arial, Helvetica, sans-serif;
      padding:5px 10px;
      cursor: hand;
      border-radius: 3px;
      text-align: center;
      font-size: 15px;
      cursor:auto;
      border:none;
      color:white;

  }
 button :hover{
        color: #85858d;
         }
 